

html {
  font-family: sans-serif;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.3561799719887955) 0%, rgba(130,0,139,1) 0%, rgba(31,36,167,1) 100%);
  width: 50%;
  padding-top: 30vh;
  text-align: center;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}
h1{
  font-size: 3.5em;
  font-style: oblique;
  color: white;
}

p{
  font-size: 1.2em;
  color: white;
}

.form label {
  color: white;
}

.form input[type="number"] {  
  border-radius: 5px;
  padding: 5px;
  width: 200px;
}

.lastResult {
  color: rgb(255, 255, 255);
  background-color: red;
  margin-left: 41%;
  width: 19%;
  border: 1px;
  border-radius: 10px;
  
}



.resultParas {
  color: rgba(255, 255, 255, 0);
}

.form input {
  padding: 7px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
}

button{
  padding: 7px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
}