* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  background-color: white;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 6vw;
}

ul li a {
  font-size: 1.3em;
  color: green;
  text-decoration: none;
}
ul li a:hover {
  color: red;
}

.search-container {
  display: flex;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-right: 10vw;
  margin-left: 15px;
  font-size: 17px;
  border-color: green;
  border-radius: 10px;
}

.item {
  font-size: 1.1em;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  word-wrap: break-word;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "left right"
    "info info "
    "box1 box2 ";
}

.left {
  grid-area: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: green;
}
.right > img {
  grid-area: right;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.info {
  grid-area: info;
  width: 100%;
  font-size: 25px;
  height: 25vh;
  margin-top: 1em;
  padding-left: 8em;
  padding-right: 8em;
  margin-bottom: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box1 {
  grid-area: box1;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 4em;
  background-color: rgb(255, 255, 255);
}

.box2 {
  grid-area: box2;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: black;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 840px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .info {
    padding: 1em;
    margin-bottom: 2em;
    grid-area: info;
    width: 100%;
  }
  .search-container {
    display: none;
  }
}

.textbox {
  width: 75%;
  height: 230px;
  background-color: rgb(189, 189, 189);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px dotted black;
}

.textbox2 {
  background-color: rgb(189, 189, 189);
  width: 75%;
  height: 230px;
  max-width: 90%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px dotted black;
}

#Language,
#sortCourses,
#randomBtn {
  border-color: black;
  border-radius: 5px;
  margin-top: 0.3em;
  padding: 0.3em;
  color: black;
  background-color: rgb(255, 255, 255);
}
